
.addWorkerArea{
  padding-left: 30px;
  display: none;
  background-color: #283593;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  margin-top: -19px;
  border: 1px solid rgba(109, 109, 168, 0.6);

}
.addWorkerArea input {
  margin-top: 10px;
}

.addWorkerArea button{
	margin-top: 30px;
}

.vacationArea{
	background-color: rgba(163, 216, 206, 0.22);
    width: 280px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
}

a:hover{
	cursor: pointer;
}

.md-list-item-text{
	max-width: 500px;
	padding-bottom:20px;
	color: rgb(108, 63, 63);
}

.hiddenEditArea{
  padding-top: 20px;
  display: none;
  background-color: rgb(67, 147, 185);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.hiddenEditArea input{
	margin-top:5px;
}
.addWorkerlink{
	margin-top:10px;
	margin-left:10px;
	margin-bottom: 10px;
	bottom: 10px;
	right: 20px;
	z-index:2000;
}

#false{
	background-color: rgba(229, 173, 173, 0.15);
}

#true{
	background-color: white;
}
.workerPage{
  background-color:#283593;
  height:1200px;
  max-width: 900px;
  margin: auto;
  margin-top:-14px;
}

