<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Worker List</h1>

  </div>
</header>

 <div> 	
 	<md-button class="md-primary md-raised" ng-click="showConfirm($event)" flex="" flex-md="100">
      Add worker
    </md-button>
    <div class = "addWorkerArea">
    	 <form class="add-job-form">
		   <label>Add a worker</label>
		    <p class="input-group">
		      <input type="text" class="form-control" placeholder="Worker Name" ng-model="workerName">
		      <input type="text" class="form-control" placeholder="Desciption" ng-model="discription">
		      <input type="text" class="form-control" placeholder="Email" ng-model="email">
		       <input type="text" class="form-control" placeholder="Not avaliable date" ng-model="date">
		      <select ng-model="currentStatus">
				  <option value="working">Working</option>
				  <option value="onvacation">On Vacation</option>
				  <option value="sick">Sick</option>
				  <option value="notavaliable">Not Avaliable</option>
			  </select>
			  <div class="input-daterange input-group" id="datepicker" >
			    <input type="text" class="input-sm form-control" name="start" />
			    <span class="input-group-addon">to</span>
			    <input type="text" class="input-sm form-control" name="end" />
			</div>
		    </p>

		    <button type="submit" class="btn btn-primary" ng-click="addWorker()">Add Worker</button>
		 </form>
    </div>
   <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="person in worker">
        <div class="md-list-item-text">
          <h2>{{person.workerName}}</h2>
          <h3>{{person.email}}</h3>
          <p>{{person.discription}}</p>
          <p>Status: {{person.currentStatus}}</p>
          <a>Edit | </a><a ng-click="deleteWorker(person)">Delete</a>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>

<script>
	$('.input-daterange').datepicker({
	});
</script>