
<table ng-click="showJob(job)" popover-placement="right" popover-template="showTemplateUrl" popover-enable="!editingJob" popover-trigger="click" popover-append-to-body="true" ng-attr-id="{{ 'job-' + job._id }}">
  <tr>
    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
    <td class="truncate">{{ job.client }}</td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
    <td class="truncate" ng-if="job.city">{{ job.city }}</td>
    <td class="truncate" ng-if="!job.city">{{ job.location }}</td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></td>
    <td class="truncate" ng-if="job.appliance" >{{ job.appliance }}</td>
    <td class="truncate" ng-if="!job.appliance">{{ job.description }}</td>
  </tr>
</table>