body{
    height: initial;
}

.bigContainer{
    background-color: rgba(122, 122, 185, 0.33);
    width: 40%;
    height: 80%;
    float: right;
    margin-top: -205px;
    border: 1px solid rgba(0, 0, 255, 0.06);
}

.description{
    width: 120%;
    margin-left: -10%;
    background-color: rgb(40, 53, 147);
    border: 1px solid rgba(0, 0, 255, 0.06);
    padding: 20px 20px 20px 20px;
    color: white;
    height: 400px;
}
.row1{
    margin-top: 80px;

}
.thumbnail{
    padding-top: 30px;
}
.caption {
    text-align: center;
}
.event{
        text-indent: 2em;
}
.row{
    width: 100%;
    margin-left: 0px; 
    margin-right: 0px;

}
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    background-color: #F8F8F8;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    color:#777;
}