<table class="popover-table">
  <tr><td colspan="2">
    <md-input-container class="md-icon-float" flex>
      <label>Client</label>
      <md-icon md-font-library="material-icons">person</md-icon>
      <input ng-model="addPopover.client" type="text">
    </md-input-container>
  </td></tr>
  <tr><td colspan="2">
    <md-input-container class="md-icon-float" flex>
      <label>Phone</label>
      <md-icon md-font-library="material-icons">local_phone</md-icon>
      <input ng-model="addPopover.phone" type="text">
    </md-input-container>
  </td></tr>
  <tr><td colspan="2">
    <md-input-container class="md-icon-float" flex>
      <label>Location</label>
      <md-icon md-font-library="material-icons">place</md-icon>
      <input ng-model="addPopover.location" city="addPopover.city" googleplace>
    </md-input-container>
  </td></tr>
  <tr><td colspan="2">
    <div layout="row" style="width: 100%;">
      <md-select class="appliance-select" ng-model="addPopover.appliance" placeholder="Appliance">
        <md-option ng-repeat="appliance in appliance_option" value="{{appliance}}">{{appliance}}</md-option>
      </md-select>
      <md-select class="power-type-select" ng-model="addPopover.power_type" placeholder="Type">
        <md-option ng-repeat="pt in power_type_option" value="{{pt}}">{{pt}}</md-option>
      </md-select>
    </div>
  </td></tr>
  <tr><td colspan="2">
    <div layout="row">
      <md-icon class="estimated-hours-icon" md-font-library="material-icons">access_time</md-icon>
      <md-slider flex class="md-primary" md-discrete ng-model="addPopover.hours" step="0.5" min="0.5" max="4" aria-label="slide-bar">
      </md-slider>
      <md-input-container style="max-width: 30px;" flex>
        <input ng-model="addPopover.hours" aria-label="estimated-hours" style="text-align: center;">
      </md-input-container>
      <label style="margin: auto; padding-right: 10px; font-size: 18px;">hr</label>
    </div>
  </td></tr>
  <tr><td colspan="2">
    <md-input-container flex>
      <label>Dscription</label>
      <textarea ng-model="addPopover.description"></textarea>
    </md-input-container>
  </td></tr>
  <tr><td>
    <md-button ng-click="cancelAdd()">
    <md-icon md-font-library="material-icons">clear</md-icon>Cancel</md-button>
    </td>
    <td>
    <md-button ng-click="saveAdd()" class="md-primary">
    <md-icon md-font-library="material-icons">check</md-icon>Add</md-button>
  </td></tr>
</table>