<table>
  <tr>
    <td></td>
    <td>
    <md-button class="delete-btn" data-toggle="modal" data-target="#delete-modal">
    <md-icon md-font-library="material-icons">delete</md-icon></md-button>
    </td>
  </tr>
  <tr><td colspan="2">
    <md-input-container class="md-icon-float">
      <label>Client</label>
      <md-icon md-font-library="material-icons">person</md-icon>
      <input ng-model="editPopover.client" type="text">
    </md-input-container>
  </td></tr>
  <tr><td colspan="2">
    <md-input-container class="md-icon-float">
      <label>Location</label>
      <md-icon md-font-library="material-icons">place</md-icon>
      <input ng-model="editPopover.location" type="text">
    </md-input-container>
  </td></tr>
  <tr><td colspan="2">
    <md-input-container>
      <label>Dscription</label>
      <textarea ng-model="editPopover.description"></textarea>
    </md-input-container>
  </td></tr>
  <tr><td>
    <md-button ng-click="cancelEdit()">
    <md-icon md-font-library="material-icons">clear</md-icon>Cancel</md-button>
    </td>
    <td>
    <md-button ng-click="saveEdit()" class="md-primary">
    <md-icon md-font-library="material-icons">check</md-icon>Save</md-button>
  </td></tr>
</table>