.sortable-container {
  width: 150px;
  min-height: 420px;
}

.jobs-container {
  vertical-align: top;
}

.add-job-icon {
  text-align: center;
}

.delete-btn {
  min-width: 24px;
  min-height: 24px;
  float: right;
}

.md-dialog-container {
  z-index:1100;
}

.sortable-placeholder {
  height: 104px;
  margin: 5px;
  border: 2px dashed grey;
}

/* chatbox layouts */
.chatbox {
  width: 300px;
  min-width: 300px;
  max-width: 100%;
  min-height: 300px;
  max-height: 60%;
  position: fixed;
  bottom: 0px;
  right: 50px;
}

.chatbox .message-list {
  min-height: 150px;
  max-height: 100%;
  overflow-y: scroll;
}

.chatbox .message-icon {
  margin-left: 0px;
  margin-right: 16px;
}

.chatbox .message-body {
  margin: 0;
}

.chatbox .message-timestamp {
  color: grey;
  font-weight: 200;
}

.chatbox .message-input {
  flex-shrink: 0;
}
/* job card layouts */
.job-card {
  margin: 5px;
  overflow: hidden;
  background-color: #F7FE2E;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.job-card table {
  display: block;
  position: relative;
  padding: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 300;
}

.job-card td {
  vertical-align: top;
}

.job-card .glyphicon-edit-td {
  width: 100%;
  text-align: right;
}

.truncate {
  max-width: 84px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-sortable {
  background-color: #939800;
}



.md-icon-button.small-icon {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  line-height: 24px;
  min-height: 24px;
}

.popover {
  min-width: 320px;
}

.popover-content {
  min-width: 288px;
}

.popover-table {
  width: 288px;
}

md-tabs-wrapper {
  display: none;
}

md-input-container {
  padding-bottom: 12px;
}

.appliance-select{
  padding: 0px 2px 6px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.appliance-select md-select-label {
  min-width: 90%;
}

md-backdrop.md-select-backdrop {
    z-index: 1079;
}

.power-type-select{
  padding: 0px 2px 6px;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}

.md-option {
  height: 32px;
}

.estimated-hours-icon {
  color: rgba(0,0,0,0.87);
  margin-right: 12px;
}

.md-autocomplete-suggestions {
  z-index: 1080;
}

.pac-container, .md-select-menu-container {
  z-index: 1080;
}

.md-select-label.md-placeholder span {
    color: rgba(0,0,0,0.26);
    font-weight: bold;
}

/* get rid of placeholder of googleplace input */
input[googleplace]::-webkit-input-placeholder {
    opacity: 0;
}

input[googleplace]:-moz-placeholder {
    /* Firefox 18- */

    opacity: 0;
}

input[googleplace]::-moz-placeholder {
    /* Firefox 19+ */

    opacity: 0;
}

input[googleplace]:-ms-input-placeholder {
    opacity: 0;
}