<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <table border="1" class="schedue-table">
    <tr>
      <th></th>
      <th ng-repeat="worker in workers">{{ worker.workerName }}</th>
    </tr>
    <tr>
      <th>Morning</th>
      <td ng-repeat="worker in workers">
        <div class="sortable-container" ui-sortable="sortableOptions">
          <div ng-repeat="job in jobs | filter:{worker: worker._id, isMorning:true}" class="job-card" ng-include="'components/snippets/job-card.html'"></div>
        </div>
        <div class="add-job-icon">
          <span class="glyphicon glyphicon-plus" ng-click="addJob(worker._id, true)" aria-hidden="true" popover-placement="right" popover-template="addPopover.addTemplateUrl" popover-title="Add" popover-enable="!editingJob" popover-trigger="click"></span>
        </div>
      </td>
    </tr>
    <tr>
      <th>Afternoon</th>
      <td ng-repeat="worker in workers">
        <div class="sortable-container" ui-sortable="sortableOptions">
          <div ng-repeat="job in jobs | filter:{worker: worker._id, isMorning:false}" class="job-card" ng-include="'components/snippets/job-card.html'"></div>
        </div>
        <div class="add-job-icon">
          <span class="glyphicon glyphicon-plus" ng-click="addJob(worker._id, false)" aria-hidden="true" popover-placement="right" popover-template="addPopover.addTemplateUrl" popover-title="Add" popover-enable="!editingJob" popover-trigger="click"></span>
        </div>
      </td>
    </tr>
  </table>
</div>
<div ng-include="'components/message/message.html'"></div>